/* Section 1 // Header */
header {
  height: 100vh;
  background: url(../img/bg/dark/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  background-attachment: fixed;
  // background-position-y: -10px;
  border-radius: 0 0 20px 20px;

  .welcome-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
  
    &_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-align: center;
      h4 {
        font-weight: 300;
      }
  
      h2 {
        font-weight: 600;
      }
    }
  }  
}

@media screen and (max-width: 426px) {
  header {
    // padding: 0px 100px;
    background-position-y: 0px;
    background-position-x: -4rem;
    height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 0px 10px;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-position-x: -200px;
    background-attachment: fixed;
  }
}