.form {
  width: 100%;
  display: flex;
  margin: 30px 0px;
  align-items: center;

  &__left {
    z-index: 0;
    width: 50%;
    margin-right: -100px;
    overflow: hidden;
    transition: all 1s;
    border-radius: 10px;

    &__img {
      width: 100%;

      img {
        width: 100%;
        transition: all 1s;
      }
    }

    &:hover {
      box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.5);

      .form__left__img {

        img {
          transform: scale(1.2);
        }
      }
    }
  }

  &__right {
    width: 60%;
    height: 500px;
    background: #1c92d2; /* fallback for old browsers */
    background: linear-gradient(to left, #1c92d2, #f2fcfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px;
    overflow: hidden;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      height: 100%;
      margin: 0px 0px 0px 250px;
    }

    &__element {
      margin-top: 10px;
      width: 300px;
      // border: 1px solid black;
      padding: 5px 10px;
      background-color: rgba($color: #fff, $alpha: 0.5);
      // color: #fff;
      outline: none;
      border-radius: 5px;
    }

    &__submit {
      border: 1px solid #fff;
      margin: 20px 211px 10px 0px;
      width: 150px;
      background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
      // background-image: linear-gradient(to right, #4b6cb7 0%, #182848 51%, #4b6cb7 100%);
      padding: 8px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #1D2550;
      // box-shadow: 0 0 20px #eee;
      border-radius: 0px;
      display: block;

      &:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #1D2550;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
  
    &__left {
      width: 80%;
      margin-right: 0px;
      margin-bottom: -50px;
    }
  
    &__right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 0px 50px;
      background: #1c92d2; /* fallback for old browsers */
      background: linear-gradient(#f2fcfe, #1c92d2);
  
  
      form {
        margin: 0px 0px 0px 0px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .form {
    
    &__right {

      form {

        margin: 0px 0px 0px 50px;
        align-items: center;
      }

      &__submit {

        margin: 20px 110px 0px 0px;
      }
    }
  }
}