* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
  }
  
  /* Section 1 // Header */
  header {
    height: 100vh;
    background: url(../img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -90px;
  
    .navbar-brand {
      font-size: 25px;
    }

    .welcome-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 89vh;
  
      &_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        h4 {
          font-weight: 300;
        }
  
        h2 {
          font-weight: 600;
        }
      }
    }
  }
  @media screen and (max-width: 426px) {
    header {
      // padding: 0px 100px;
      background-position-y: 0px;
      background-position-x: -4rem;
      height: 100vh;
    }
  
    .navbar-brand {
      font-weight: 600;
      font-size: 25px;
    }
  
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media screen and (max-width: 480px) {
    header {
      padding: 0px 10px;
      height: 100vh;
    }
    .navbar-brand {
      font-weight: bold;
      font-size: 20px;
    }
  }
  
  /* Section 2 // Cards */
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  
  
    .col-10, .col-lg-3 {
  
      .my-card {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        &-img {
          border-radius: 10px;
          overflow: hidden;
          max-width: 350px;
          box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
          margin-bottom: 20px;
  
          &:hover {
            img {
              transform: scale(1.2)rotate(5deg);
            }
          }
  
          img {
            width: 100%;
            transition: all 1.2s;
          }
        }
  
        &-caption {
          margin-bottom: 20px;
        }
  
        &-btn {
          margin-bottom: 15px;
        }
  
        .card-end-line {
          width: 100px;
          height: 3px;
          background: linear-gradient(to right, #F9C643, #FF5038);
        }
      }
    }
  }
  
  /* Section 3 // Home About */
  
  .home-about {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
  
    .left {
      width: 60%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e7e7e7;
      padding: 60px;
      padding-right: 160px;
      margin-right: -100px;
      border-radius: 10px;
      overflow: hidden;
  
      &_text {
  
        h2 {
          font-size: 36px;
          font-weight: bold;
        }
        p {
          text-align: justify;
          font-size: 18px;
          color: #494848;
        }
      }
    }
  
    .right {
      width: 40%;
      border-radius: 10px;
      overflow: hidden;
      height: 400px;
      box-shadow: 0 0 20px #00000050;
  
      div {
        width: 100%;
        height: 100%;
  
        &:hover {
  
          img {
            transform: scale(1.2);
          }
        }
  
        img {
          width: 100%;
          height: 100%;
          transition: all 1.2s;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    .home-about {
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      // margin-top: 50px;
      // margin-bottom: 50px;
    
      .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e7e7e7;
        overflow: hidden;
        margin-left: -100px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 80px;
        padding-bottom: 30px;
        height: auto;
        // margin-bottom: 50px;
    
        &_text {
    
          h2 {
            font-size: 30px;
          }
          p {
            text-align: justify;
            font-size: 16px;
            color: #494848;
          }
        }
      }
    
      .right {
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
        height: auto;
        margin-bottom: -30px;
    
        div {
          width: 100%;
          height: auto;
    
          img {
            width: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    header {
        height: 100vh;
        background-position-x: -200px;
        background-attachment: fixed;
    }
  
    .divotional__word {
      p {
        font-size: 16px;
      }
    }
  }
  
  /* Section 4 */
  .divotional {
    display: flex;
  
    &__line {
      width: 3px;
      height: auto;
      background-color: #F9C643;
    }
  
    &__word {
      font-size: 20px;
      padding: 20px 20px 20px 40px;
      margin-top: 10px;
      max-width: 1200px;
    
      p {
        text-align: justify;
      }
    }
  }
  
  .divotion__outer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 480px) {
    .divotional {
      margin-left: 20px;
      margin-right: 20px; 

      &__line {
        width: 8px;
        height: auto;
        background-color: #F9C643;
      }

      &__word {
        font-size: 20px;
        padding: 20px 20px 20px 30px;
      }
    }
  }

.ministries {
    max-width: 100%;
    background: #1D2550;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;

    &__header {
        margin: 60px 0;
        display: flex;
        justify-content: center;
        
        &__title {
            font-weight: 600;
        }
    }

    &__body {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;

      &__minis {
        display: flex;
        align-items: center;

        &__line {
          width: 2px;
          height: 50px;
          background-color: #FF5038;
          margin-right: 20px;
        }

        &__line1 {
          margin-left: 20px;
        }

        &__text {
          margin-right: 100px;
          font-size: 20px;
        }

        &__text3 {
          margin-right: 0;
        }
       }
    }
}

@media screen and (max-width: 480px) {
  .ministries {
    margin-left: 10px;
    margin-right: 10px;

    &__body {
      margin-bottom: 20px;
      margin-top: -30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .ministries__body {
    display: flex;
    // align-items: center;
    flex-direction: column;

    &__minis {

      &__line1 {
        margin-left: 0;
      }

      &__line {
        margin-bottom: 20px;
      }

      &__text {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

/* Section 5 // Our Team */
.our-team {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__text {

    &__name {
      margin-top: 10px;
    }

    &__name2 {
      font-size: 27px;
    }
  }

  &__member {

    &__img {
      border-radius: 12px;
      overflow: hidden;
      transition: all 0.5s;
      
      img {
        transition: all 1s;
      }

      &:hover {
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);

        img {
          transform: scale(1.2);
        }
      }
    }

    &__bg {
      background-color: transparent;
      border: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .our-team {
    flex-direction: column;
    height: auto;
  }
}

/* Section 7 // Home Page Contact */
.home-contact {
  background-color: #1D2550;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    margin-top: 90px;
    margin-bottom: 80px;
    
    img {
      width: 300px;
    }
  }

  &__navs {
    border-bottom: 1px solid #fff;
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;

    &__nav-links {
      color: #fff;
      text-decoration: none;
      margin-right: 60px;

      &:hover {
        color: #e7e7e7;
      }
    }

    .last-link {
      margin-right: 0;
    }
  }

  &__mailto {
    border-bottom: 1px solid #fff;
    width: 70%;
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 30px;

    h4 {
      font-size: 20px;
      font-weight: 600;
    }

    h3 {
      font-size: 25px;
      font-weight: 200;
    }
  }

  &__address {
    padding-bottom: 10px;
    text-align: center;
  }

  &__social-medias {
    padding-bottom: 30px;
    display: flex;

    .youtube {
      margin-left: 10px;
    }

    &__icon {
      margin-right: 20px;
      font-size: 30px;
    }
  }

  &__copyrights{
    width: 100%;
    background-color: #494848;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 512px) {
  .home-contact {

    &__logo {
      margin-bottom: 50px;
      margin-top: 50px;

      img {
        width: 200px;
      }
    }

    &__navs {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;

      &__nav-links{
        margin-right: 0;
        margin-bottom: 6px;
      }
    }

    &__mailto {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 18px;
      }
    }

    &__address {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 320px) {
  .home-contact__mailto {
    margin-bottom: 20px;

    h3 {
      font-size: 14px;
    }
  }
}