* {
  font-family: 'poppins';
}

.header {
  background-image: url(/assets/img/img2.jpg);
  background-repeat: no-repeat;
  background-position-x: 30%;
  // background-attachment: fixed;
  background-size: cover;
  height: 100vh;

  .navbar {
    .navbar-brand {
      font-weight: 600;
      font-size: 30px;

      &__church {
        color: transparent;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: white;
      }
    }
  }

  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    text-align: center;

    // &__one {
    //   font-size: 25px;
    //   font-weight: 300;
    // }
    
    // &__two {
    //   font-size: 40px;
    //   font-weight: bold;
    // }
  }
}

@media screen and (min-width: 0px) {
  .navbar {
    margin: 0 20px;
  }
  
  .welcome-text {
    &__one {
      font-size: 22px;
      font-weight: 300;
    }
    &__two {
      font-size: 30px;
      font-weight: bold;
    }
  }
}

@media screen and (min-width :542px) {
  .navbar {
    margin: 0 60px;
  }
}

@media screen and (min-width :992px) {
  .navbar {
    margin: 0 150px;
  }

  .welcome-text {
    &__one {
      font-size: 25px;
      font-weight: 300;
    }
    &__two {
      font-size: 40px;
      font-weight: bold;
    }
  }
  
  .header {
    background-position-y: 20%;
  }
}

/* Section 2 // Cards */
.rim-cards {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mycard {
    overflow: hidden;
    width: 300px;

    &__img {
      width: 300px;
      height: 300px;
      overflow: hidden;
    }
  }
}
