.our-pastors {
  background-color: #1D2550;
  padding: 30px 200px;
  width: 100%;
  height: auto;
  color: #fff;
  border-radius: 20px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    &__text {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    &__line {
      width: 100px;
      height: 2px;
      background-color: #fff;
    }
  }

  &__odd {
    &__details {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
  
      &__name {
        font-size: 34px;
        font-weight: 600;
      }
  
      &__part {
        font-size: 26px;
        font-weight: 200;
      }
    }
  
    &__data {
      display: flex;
      align-items: center;
  
      &__img {
        width:700px;
        border-radius: 20px;
        overflow: hidden;

        img {
          transition: all 1s;
        }

        &:hover {

          img {
            transform: scale(1.5);
          }
        }
      }
  
      &__content {
        max-width: 70%;
        padding: 0px 0px 0px 30px;
    
        p {
          font-size: 20px;
          text-align: justify;
        }
      }
    }
  }

  &__even {
    &__details {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      text-align: right;
  
      &__name {
        font-size: 34px;
        font-weight: 600;
      }
  
      &__part {
        font-size: 26px;
        font-weight: 200;
      }
    }
  
    &__data {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
  
      &__img {
        width:700px;
        border-radius: 20px;
        overflow: hidden;
      }
  
      &__content {
        max-width: 70%;
        padding: 0px 30px 0px 0px;
    
        p {
          font-size: 20px;
          text-align: justify;
        }
      }
    }
  }
}