@media screen and (max-width: 768px) {
  .divotional__word p {
    font-size: 16px;
  }
}

/* Section 4 */
.divotional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divotional__line {
  width: 3px;
  height: auto;
  background-color: #F9C643;
}

.divotional__word {
  font-size: 20px;
  padding: 20px 20px 20px 40px;
  margin-top: 10px;
  max-width: 1200px;
}

.divotional__word p {
  text-align: justify;
}

.divotion__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .divotional {
    margin-left: 20px;
    margin-right: 20px;
  }
  .divotional__line {
    width: 8px;
    height: auto;
    background-color: #F9C643;
  }
  .divotional__word {
    font-size: 20px;
    padding: 20px 20px 20px 30px;
  }
}
