@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@media screen and (max-width: 768px) {
  /**
  Code Creator: https://github.com/duongductrong
  Source Design: Internet
*/
  .event_gallery {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Fredoka, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .flexible-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    width: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .flexible-cards .flexible-cards__item {
    cursor: pointer;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .flexible-cards .flexible-cards__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: transparent;
    -webkit-transition: background 300ms ease;
    transition: background 300ms ease;
  }
  .flexible-cards .flexible-cards__item.active {
    height: 300px;
  }
  .flexible-cards .flexible-cards__item.active::before {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(to top, #000, transparent);
  }
  .flexible-cards .flexible-cards__item.active .flexible-cards__item__content {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .flexible-cards .flexible-cards__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content .flexible-cards__item__content__title {
    margin-bottom: 0.25rem;
    line-height: 1.25;
    font-size: 1.375rem;
    color: #fff;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content .flexible-cards__item__content__desc {
    margin: 0;
    color: #fff;
  }
}

@media screen and (min-width: 800px) {
  /**
  Code Creator: https://github.com/duongductrong
  Source Design: Internet
*/
  .event_gallery {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: Fredoka, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .flexible-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    width: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .flexible-cards .flexible-cards__item {
    cursor: pointer;
    position: relative;
    min-height: 400px;
    max-height: 400px;
    width: 50px;
    border-radius: 30px;
    overflow: hidden;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .flexible-cards .flexible-cards__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: transparent;
    -webkit-transition: background 300ms ease;
    transition: background 300ms ease;
  }
  .flexible-cards .flexible-cards__item.active {
    width: 800px;
  }
  .flexible-cards .flexible-cards__item.active::before {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
    background: linear-gradient(to top, #000, transparent);
  }
  .flexible-cards .flexible-cards__item.active .flexible-cards__item__content {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .flexible-cards .flexible-cards__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content .flexible-cards__item__content__title {
    margin-bottom: 0.25rem;
    line-height: 1.25;
    font-size: 1.375rem;
    color: #fff;
  }
  .flexible-cards .flexible-cards__item .flexible-cards__item__content .flexible-cards__item__content__desc {
    margin: 0;
    color: #fff;
  }
}
/*# sourceMappingURL=event_gallery.css.map */