/* Section 1 // Header */
header {
  height: 100vh;
  background: url(../img/img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0 0 20px 20px;
}

header .navbar-brand {
  font-size: 25px;
}

header .welcome-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89vh;
}

header .welcome-content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}

header .welcome-content_text h4 {
  font-weight: 300;
}

header .welcome-content_text h2 {
  font-weight: 600;
}

@media screen and (max-width: 426px) {
  header {
    background-position-y: 0px;
    background-position-x: -4rem;
    height: 100vh;
  }
  .navbar-brand {
    font-weight: 600;
    font-size: 25px;
  }
  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 0px 10px;
    height: 100vh;
  }
  .navbar-brand {
    font-weight: bold;
    font-size: 20px;
  }
}

/* Section 2 // Cards */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.row .col-10 .my-card, .row .col-lg-3 .my-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row .col-10 .my-card-img, .row .col-lg-3 .my-card-img {
  border-radius: 10px;
  overflow: hidden;
  max-width: 350px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.row .col-10 .my-card-img:hover img, .row .col-lg-3 .my-card-img:hover img {
  -webkit-transform: scale(1.2) rotate(5deg);
          transform: scale(1.2) rotate(5deg);
}

.row .col-10 .my-card-img img, .row .col-lg-3 .my-card-img img {
  width: 100%;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.row .col-10 .my-card-caption, .row .col-lg-3 .my-card-caption {
  margin-bottom: 20px;
}

.row .col-10 .my-card-btn, .row .col-lg-3 .my-card-btn {
  margin-bottom: 15px;
}

.row .col-10 .my-card .card-end-line, .row .col-lg-3 .my-card .card-end-line {
  width: 100px;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#F9C643), to(#FF5038));
  background: linear-gradient(to right, #F9C643, #FF5038);
}

/* Section 3 // Home About */
.home-about {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.home-about .left {
  width: 60%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  padding: 60px;
  padding-right: 160px;
  margin-right: -100px;
  border-radius: 10px;
  overflow: hidden;
}

.home-about .left_text h2 {
  font-size: 36px;
  font-weight: bold;
}

.home-about .left_text p {
  text-align: justify;
  font-size: 18px;
  color: #494848;
}

.home-about .right {
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
  height: 400px;
  -webkit-box-shadow: 0 0 20px #00000050;
          box-shadow: 0 0 20px #00000050;
}

.home-about .right div {
  width: 100%;
  height: 100%;
}

.home-about .right div:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.home-about .right div img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media screen and (max-width: 991px) {
  .home-about {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-about .left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #e7e7e7;
    overflow: hidden;
    margin-left: -100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    padding-bottom: 30px;
    height: auto;
  }
  .home-about .left_text h2 {
    font-size: 30px;
  }
  .home-about .left_text p {
    text-align: justify;
    font-size: 16px;
    color: #494848;
  }
  .home-about .right {
    width: 90%;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
    margin-bottom: -30px;
    margin-top: 20px;
  }
  .home-about .right div {
    width: 100%;
    height: auto;
  }
  .home-about .right div img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 100vh;
    background-position-x: -200px;
    background-attachment: fixed;
  }
  .divotional__word p {
    font-size: 16px;
  }
}

/* Section 4 */
.divotional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.divotional__line {
  width: 3px;
  height: auto;
  background-color: #F9C643;
}

.divotional__word {
  font-size: 20px;
  padding: 20px 20px 20px 40px;
  margin-top: 10px;
  max-width: 1200px;
}

.divotional__word p {
  text-align: justify;
}

.divotion__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .divotional {
    margin-left: 20px;
    margin-right: 20px;
  }
  .divotional__line {
    width: 8px;
    height: auto;
    background-color: #F9C643;
  }
  .divotional__word {
    font-size: 20px;
    padding: 20px 20px 20px 30px;
  }
}

.ministries {
  max-width: 100%;
  background: #1D2550;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.ministries__header {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ministries__header__title {
  font-weight: 600;
}

.ministries__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.ministries__body__minis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ministries__body__minis__line {
  width: 2px;
  height: 50px;
  background-color: #FF5038;
  margin-right: 20px;
}

.ministries__body__minis__line1 {
  margin-left: 20px;
}

.ministries__body__minis__text {
  margin-right: 100px;
  font-size: 20px;
}

.ministries__body__minis__text3 {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .ministries {
    margin-left: 10px;
    margin-right: 10px;
  }
  .ministries__body {
    margin-bottom: 20px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 768px) {
  .ministries__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ministries__body__minis__line1 {
    margin-left: 0;
  }
  .ministries__body__minis__line {
    margin-bottom: 20px;
  }
  .ministries__body__minis__text {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Section 5 // Our Team */
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.our-team__text__name {
  margin-top: 10px;
}

.our-team__text__name2 {
  font-size: 27px;
}

.our-team__member__img {
  border-radius: 12px;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.our-team__member__img img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.our-team__member__img:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.our-team__member__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-team__member__bg {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 991px) {
  .our-team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

/* Section 7 // Home Page Contact */
.home-contact {
  background-color: #1D2550;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-contact__logo {
  margin-top: 90px;
  margin-bottom: 80px;
}

.home-contact__logo img {
  width: 300px;
}

.home-contact__navs {
  border-bottom: 1px solid #fff;
  width: 70%;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.home-contact__navs__nav-links {
  color: #fff;
  text-decoration: none;
  margin-right: 60px;
}

.home-contact__navs__nav-links:hover {
  color: #e7e7e7;
}

.home-contact__navs .last-link {
  margin-right: 0;
}

.home-contact__mailto {
  border-bottom: 1px solid #fff;
  width: 70%;
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.home-contact__mailto h4 {
  font-size: 20px;
  font-weight: 600;
}

.home-contact__mailto h3 {
  font-size: 25px;
  font-weight: 200;
}

.home-contact__address {
  padding-bottom: 10px;
  text-align: center;
}

.home-contact__social-medias {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-contact__social-medias .youtube {
  margin-left: 10px;
}

.home-contact__social-medias__icon {
  margin-right: 20px;
  font-size: 30px;
}

.home-contact__copyrights {
  width: 100%;
  background-color: #494848;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 512px) {
  .home-contact__logo {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .home-contact__logo img {
    width: 200px;
  }
  .home-contact__navs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
  }
  .home-contact__navs__nav-links {
    margin-right: 0;
    margin-bottom: 6px;
  }
  .home-contact__mailto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-contact__mailto h3 {
    font-size: 18px;
  }
  .home-contact__address {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .home-contact__mailto {
    margin-bottom: 20px;
  }
  .home-contact__mailto h3 {
    font-size: 14px;
  }
}
/*# sourceMappingURL=index.css.map */