.our-pastors {
  background-image: url(../img/bg/dark/img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 30px 200px;
  width: 100%;
  height: auto;
  color: #fff;
  border-radius: 20px;
}

.our-pastors__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.our-pastors__title__text {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

.our-pastors__title__line {
  width: 100px;
  height: 2px;
  background-color: #fff;
}

.our-pastors__odd__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.our-pastors__odd__details__name {
  font-size: 34px;
  font-weight: 600;
}

.our-pastors__odd__details__part {
  font-size: 26px;
  font-weight: 200;
}

.our-pastors__odd__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-pastors__odd__data__img {
  width: 700px;
  border-radius: 20px;
  overflow: hidden;
}

.our-pastors__odd__data__img img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.our-pastors__odd__data__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-pastors__odd__data__content {
  max-width: 70%;
  padding: 0px 0px 0px 30px;
}

.our-pastors__odd__data__content p {
  font-size: 20px;
  text-align: justify;
  color: #d7d5d5;
}

.our-pastors__even__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  text-align: right;
}

.our-pastors__even__details__name {
  font-size: 34px;
  font-weight: 600;
}

.our-pastors__even__details__part {
  font-size: 26px;
  font-weight: 200;
}

.our-pastors__even__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.our-pastors__even__data__img {
  width: 700px;
  border-radius: 20px;
  overflow: hidden;
}

.our-pastors__even__data__img img {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.our-pastors__even__data__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.our-pastors__even__data__content {
  max-width: 70%;
  padding: 0px 30px 0px 0px;
}

.our-pastors__even__data__content p {
  font-size: 20px;
  color: #d7d5d5;
  text-align: justify;
}

@media screen and (max-width: 426px) {
  .our-pastors {
    padding: 10px 10px;
  }
  .our-pastors__title__text {
    font-size: 30px;
  }
  .our-pastors__odd__details {
    padding: 0px 0px 0px 40px;
  }
  .our-pastors__odd__details__name {
    font-size: 25px;
  }
  .our-pastors__odd__details__part {
    font-size: 18px;
  }
  .our-pastors__odd__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-pastors__odd__data__img {
    width: 80%;
  }
  .our-pastors__odd__data__content {
    max-width: 90%;
    padding: 10px 20px;
  }
  .our-pastors__odd__data__content p {
    font-size: 16px;
  }
  .our-pastors__even__details {
    padding: 0px 0px 0px 40px;
    text-align: left;
  }
  .our-pastors__even__details__name {
    font-size: 20px;
  }
  .our-pastors__even__details__part {
    font-size: 18px;
  }
  .our-pastors__even__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-pastors__even__data__img {
    width: 80%;
  }
  .our-pastors__even__data__content {
    max-width: 90%;
    padding: 10px 20px;
  }
  .our-pastors__even__data__content p {
    font-size: 16px;
  }
}
